/*  resets  */
*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
/* document
----------------------------------------------------------------------------- */
html {
  background-color: rgb(216, 213, 213);
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.6rem;
  background-color: #333;
  color: #333;
  border: 1px solid red;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
/* card container
----------------------------------------------------------------------------- */
main.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  max-width: 60%;
  min-height: 30vh;
  background-color: #99b7cf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid green;
  border-radius: 0.5rem;
  margin: 0 auto;
}
h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 2rem;
}
/* burger
---------------------------------------------------------------------------- */
.burger {
	display: unset;
	cursor: pointer;	
  width: fit-content;
  margin: 0 auto;
}
.burger div {
	width: 25px;
	height: 3px;
  background-color: rgb(3, 3, 3);
	margin: 5px auto;
	transition: all 0.3s ease;
}

div[data-burger-state='menu-on'] .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
div[data-burger-state='menu-on'] .line2 {
	opacity: 0;
}
div[data-burger-state='menu-on'] .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* end burger
----------------------------------------------------------------------------- */

